.Value {
  margin-bottom: 1rem;
  h2 {
    font-size: 1.25rem;
  }
  .row {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      width: 7rem;
      .label {
        opacity: 0.7;
      }
      .num {
        font-size: 1.25rem;
        font-family: monospace;
      }
    }
  }
}
